.skinny_table {
  width: 75%;
}

.centered {
  margin: auto;
}

.body {
  background-color: black;
}

.green {
  color : #84bd00;
}

a:link {
    color:white;
}

a:visited {
  color:white;
}

a:hover {
  color:#84bd00;
}
