.skinny {
  width: 75%;
}

.centered {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 300%
}

.body {
  background-color: black;
}

.offset_text {
  position: relative;
  left: 14%;
}

.green {
  color :#1DB954;
}

.grey{
  color : #828282;
}

.white{
  color : #FFFFFF;
}

a:link {
    color:white;
}

a:visited {
  color:white;
}

a:hover {
  color:#1DB954;
}

h1
{
  text-align: center;
  color :#1DB954;
}

h3
{
  color :#1DB954;
}

.google_chart
{
  width: 800px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.btn-outline-light:hover{
  color: #1DB954;
  background-color: black;
  border-color: #1DB954;
}

td,
th{
    white-space: nowrap;
    width: 1%;
}

hr
{
  border-color:white;
}
