.skinny_table {
  width: 75%;
}

.centered {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 300%
}

.body {
  background-color: black;
}

.green {
  color :#1DB954;
}

a:link {
    color:white;
}

a:visited {
  color:white;
}

a:hover {
  color:#1DB954;
}

.google_chart
{
  width: 800px;
  height: 500px;
  display: block;
  margin: 0 auto;
}
